{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}

<main id="main">
    <section class="post">

        <header class="major">
            <h1>{{title}}</h1>
        </header>

        {{#if feature_image}}
        <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
        {{/if}}

        <div class="content">
            {{content}}
        </div>

        <div id="disqus_thread"></div>
<script>
var disqus_config = function () {
	this.page.url = "{{url absolute="true"}}";  
	this.page.identifier = "ghost-{{comment_id}}"
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://travelicioz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

    </section>
</main>

{{/post}}